.project-holder {
    margin: 15px 15px 30px;
    padding: 0 0 30px;
    width: 350px;
    background: #353535;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-titel {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}


.project-image {
    display: block;
    margin: 5px auto;
    height: 140px;
    z-index: 10;
}

.project-date-created{
    color:whitesmoke;
    text-align: center;
    margin: 0 0 10px;
    font-size: 12px;
}

.project-data {
    margin: 10px 0 ;
    padding: 0 20px;
    color: rgb(254, 254, 254);
    font-size: 12px;
    font-family: cursive;
}

.project-main-title{
    color:#f7ffb7;
}

.project-links{
    width: 350px;
    display: flex;
    justify-content: space-evenly;

    position: absolute;
    bottom: 10px;
    div{
        width: 59.8px;
    }
}

.project-button1 {
    display: block;
    width: 55px;
    text-align: center;
    font-size: 14px;
    border: 3px solid silver;
    border-radius: 20px;


    color: black;
    background-color: rgb(185, 185, 185);
    
    cursor: pointer;
    text-decoration: none;


    transition-duration: .5s;
    &:hover{
        transform: scale(1.2);
    }
    &:active{
        transform: scale(1.1);
    }
}


.project-holdertwo {
    margin: 0 40px;
    padding: 50px 0;
}
.pprojects-top{
    background-color: rgb(81, 81, 81);
    height: 200px;
}
.year-line{
    div {
        display: flex;
        flex-wrap: wrap;
    }
}