.art-holder {
    margin: 40px 100px;
    width: 225px;
    height: 250px;
    background: #353535;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-holder-one {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}

.art-titel {
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

.art-image {
    display: block;
    margin: 0 auto;
    max-height: 170px;
    max-width: 190px;
}

.art-button-one {
    width: 70px;
    border-radius: 20px;

    position: absolute;
    bottom: 10px;

    background-color: silver;

    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition-duration: .5s;

    &:hover {
        transform: scale(1.2);
    }
    &:active {
        transform: scale(1.1);
    }
}

.art-holder-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}

.art-l-imageh {
    position: sticky;
    width: 900px;
    height: 100%;
    top: 100px;
    padding: 30px 0;
    background-color: gray;
    justify-content: center;
}

.art-l-image {
    height: 500px;
    width: 500px;
    border-style: double;
    border-width: 10px;
    border-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #424242;
}

.art-l-i-button {
    height: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgb(69, 69, 69);
    color: white;
}

.art-stiky {
    width: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
}